@model IEnumerable<ProductsPortal.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Prod Inventory</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name) 
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>

    @foreach (var item in Model)
    {
     <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Name) 
        </th>
        <th></th>
        <th>
            @Html.DisplayFor(modelItem => item.Quantity)
        </th>
    </tr>
    }
</table>